{% extends 'app/base.html' %}
{% load static %}
{% block title %}  Şifre Değişim Tamam {% endblock title %}

{% block main_contend %}

<div class="container">
    <div class="row my-3">
       
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>Şifre Başarıyla Değişildi....</h3>
                <div><a href="{% url 'profilim' %}">
                    <img src="{% static 'app/images/giphy.gif' %}" />
                  </a>
                </div>
            </div>
        </div>
</div>

{% endblock main_contend %}


